    <div class="jumbotron">
      <img class="pull-left" src="images/fairview_logo.png"/>
      <img class="pull-right" src="images/fairview_logo.png"/>
      <h1>Best Movies of 2013</h1>
      <p class="lead">Vote which movie is better!</p>
    </div>
    <div class="container">
      <div class="row">
	<div id="movie1" class="col-md-6" title="Vote for A Good Day To Die Hard">
	  <img id="movieImg1" class="center-block" src="images/AGoodDayToDieHard.jpg"/>
	  <h4 id="movieTitle1" class="text-center">A Good Day To Die Hard</h4>
	</div>
	<div id="movie2" class="col-md-6" title="Vote for A Good Day To Die Hard">
	  <img id="movieImg2" class="center-block" src="images/AGoodDayToDieHard.jpg"/>
	  <h4 id="movieTitle2" class="text-center">A Good Day To Die Hard</h4>
	</div>
      </div>
    </div>
