<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/voting.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <img class="pull-left" src="images/fairview_logo.png"/>
      <img class="pull-right" src="images/fairview_logo.png"/>
      <h1>Best Movies of 2013</h1>
      <p class="lead">Vote which movie is better!</p>
    </div>
	  <%= yield %>
  </body>
  </html>
