<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/voting.js"></script>
  </head>
  <body>
	  <%= yield %>
  </body>
  </html>
