<div class="container">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Top 50 Ranking</div>

	  <!-- Table -->
	  <table class="table">
		<tr>
			<th>Place</th>
			<th>Movie Title</th>
			<th>Votes</th>
		</tr>

		<% @movies.each_with_index do |movie, n| %>
			<tr>
				<td><%= n %></td>
				<td><%= movie.title %></td>
				<td><%= movie.score %></td>
			</tr>
		<% end %>
	    
	  </table>
	</div>
</div>
